/*Reset Yahoo */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {padding: 0; margin: 0;}
table {border-collapse: collapse; border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal; font-style: normal;}
ol,ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym {border: 0;}

#topo {
    background-color: #1B477C;
    width: 100%;
	height: 15%;
}

h1 {
    font: 40px Mistral;
    color: #FFF;
	text-align: left;
	white-space: normal;
	padding-top: 3%;
}

h2 {
    font: 20px Mistral;
    color: #FFF;
	text-align: left;
	white-space: normal;
	padding-top: 1%;
}

.menu {
    background-color: #F6F6F6;
    width: 100%;
    height: 3%;
    list-style: none;  
	float: left; 
	font: 14px verdana;
}

.menu li {
    position: relative; 
	float: left; 
}

.menu li a {
    color: #333; 
	text-decoration: none; 
	padding: 4px 10px; 
	display: block;
}

.menu li a:hover {
    background: #333; 
	color: #fff; -moz-box-shadow:0 3px 10px 0 #CCC; -webkit-box-shadow:0 3px 10px 0 #ccc; 
	text-shadow: 0px 0px 5px #fff; 
}

.menu li   ul {
    position: absolute; 
	top: 25px; 
	left: 0; 
	background-color: #fff; 
	display: none; 
}

.menu li:hover ul,.menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0; 
	display: block; 
	width: 150px;
}

label {
    font: 12px verdana;
    color: #000;
	padding: 1px 5px;
}

input {
    border: 1px solid #C0C0C0;
    width: 90px;
	padding: 2px;
    color: #000;
}

.btn {
    width: 55px;
	height: 25px;
    color: #FFF;
    background: #585858;
	text-align: center;
}

#conteudo {
   	width: 100%; 
}

.rodape {
    background-color: #F6F6F6;
	position: absolute;
    bottom: 0px;
    width: 100%;
	height: 30;
	color: #000;
	text-align: center;
	font: 11px verdana;
}