/*Define as configurações que serão usadas na tabela*/
#table{
	width:800px;
	border:#000000 1px solid;
}
/*Define as configurações que serão usadas na célula da tabela*/
td{
	border:#dbdbdb 2px solid;
}
.linha{
	background-color:#ffffff;
}
body{
	font:Verdana, Arial, Helvetica, sans-serif; color:#333399;
}
table{
	width:100%; 
	border:#f4f4f4 2px outset; 
	background-color:#006699;
}
img {
	border:none
}
.linhas{
	background-color: #f7f7f7
}
#nome{
	width: 120px; 
	text-align: center;
	}

#ramal{
	width: 20px; 
	text-align: center;
	}

#telefone{
	width: 40px; 
	text-align: center;
	}
	
#celular{
	width: 40px; 
	text-align: center;
	}
	
#email{
	width: 50px; 
	text-align: center;
	}
	
#setor{
	width: 60px; 
	text-align: center;
	}
	
#titulo{
    font-size:18px; 
	color:#003399; 
	text-align:center; 
}

#.linhaSelecionada{
	background-color: #B6C1E0; font-weight:bold;
}
#.aviso{
	border: thin solid #000000; 
	font-size:12pt; 
	font-weight:bold; 
	color:#ffffff; 
	padding-bottom:10px; 
	padding-top:50px; 
	background:url(images/loader.gif) no-repeat center #006699;
}