/*Reset Yahoo */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {padding: 0; margin: 0;}
table {border-collapse: collapse; border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal; font-style: normal;}
ol,ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym {border: 0;}

.geral {
    background-color: #FFF;
}

.topo {
    background-color: #f1f1f1;
	position: absolute;
    width: 100%;
	height: 8%;
}

.titulo {
    font: 70px Tahoma, Geneva, sans-serif;
    color: #FFF;
    font-weight: bold;
	text-align: center;
}

.login {
    background-color: #e8e8e8;
    position: fixed;
    width: 23%;
    height: 29%; 	
    top: 30%; 
	left: 40%;
    right: 40%;
    bottom: 30%; 	
}

.form {
    width: 250px;
    margin: 45px auto;
}

.fieldset {
    display: block;
    border: 0;
}

.titulo_login {
    display: block;
    font: 20px Arial;
    color: #3e3e3e;
    padding: 10px 0;
}

label {
    display: block;
    font: 16px Arial;
    color: #3e3e3e;
}

input {
    border: 1px solid #C0C0C0;
    width: 250px;
	padding: 5px;
    font-weight: bold;
    color: #000;
}

.btn {
    width: 70px;
    margin: 10px auto;
    color: #FFF;
    background: #3a7197;
	text-align: center;
}

.menu {
    background-color: #F6F6F6;
    width: 100%;
    height: 3%;
    list-style: none;  
	float: left; 
	font: 14px verdana;
}

.menu li {
    position: relative; 
	float: left; 
}

.menu li a {
    color: #333; 
	text-decoration: none; 
	padding: 4px 10px; 
	display: block;
}

.menu li a:hover {
    background: #333; 
	color: #fff; -moz-box-shadow:0 3px 10px 0 #CCC; -webkit-box-shadow:0 3px 10px 0 #ccc; 
	text-shadow: 0px 0px 5px #fff; 
}

.menu li   ul {
    position: absolute; 
	top: 25px; 
	left: 0; 
	background-color: #fff; 
	display: none; 
}

.menu li:hover ul,.menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0; 
	display: block; 
	width: 150px;
}

.conteudo {
   	width: 100%; 
}

.rodape {
    background-color: #f1f1f1;
	position: absolute;
    bottom: 0px;
    width: 100%;
	height: 3%;
	color: #000;
	text-align: center;
	font: 11px verdana;
}